@import '../../../css-config/mixins.scss';

.search-model {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    // top: 0;
    // left: 0;
    background-color: transparent;
    background: url('../../../assets/img1.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    transform: translateY(100%);
    animation: slideShowSearch 0.8s ease forwards;

    .form-field {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 10px 50px;
        backdrop-filter: blur(50px); //làm mờ phông background
        border-bottom: 1px solid black;
        position: relative;

        @include md {
            padding: 20px 0;
        }

        input {
            width: 100%;
            height: 50px;
            font-size: 18px;
            text-align: center;
            font-weight: 600;
            text-transform: uppercase;
            background-color: transparent;
            color: #fff;
            outline: none;
            border: none;

            @include md {
                font-size: 32px;
                height: 40px;
            }
        }

        svg {
            position: absolute;
            font-size: 25px;
            right: 20px;
            top: 50%;
            transform: translateY(-50%); // cái này bù trừ về giữa hàng khi có prop "top: 50%"
            cursor: pointer;

            @include md {
                right: 40px;
                font-size: 30px;
            }

            &:hover {
                border-bottom: 1px solid #fff;
                color: #fff;
            }
        }
    }

    .search-result-content {
        max-width: calc(100% - 20px);
        margin: 0 auto;
        backdrop-filter: blur(15px); //làm mờ phông background

        @include md {
            max-width: 800px;
        }

        .serach-results {
            height: calc(100vh - 110px);
            overflow: auto;
            @include md {
                height: calc(100vh - 160px);
            }

            .search-result-item {
                display: flex;
                align-items: center;
                gap: 10px;
                padding: 10px 0;
                border-bottom: 1px solid black;
                cursor: pointer;

                .img-container {
                    background-color: rgba(0, 0, 0, 0.1);
                    width: 80px;
                    height: 80px;
                    flex-shrink: 0;

                    img {
                        width: 100%;
                        height: 100%;
                        transition: all ease 0.3s;
                        display: block;

                        &:hover {
                            transform: scale(0.9);
                        }
                    }
                }

                .prod-details {
                    overflow: hidden;
                    position: relative;

                    .name-product {
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        line-height: 1;
                        margin-bottom: 10px;
                        color: #fff;
                        font-size: 16px;
                        font-weight: 600;
                        text-transform: capitalize;
                        display: block;
                    }

                    .name-desc {
                        font-size: 14px;
                        line-height: 1;
                        display: block;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        color: rgba(0, 0, 0, 0.5);
                    }
                }

                &:hover {
                    background-color: #ffffff4d;
                }
            }
        }
    }
}

@keyframes slideShowSearch {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}
